<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Tasks</h1>
<p><a href="{% url 'create_task' %}">Create a new task</a></p>
{% if tasks %}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>Is Completed </th>
    </tr>
    </thead>
    {% for task in tasks %}
    <tr>

        <td>{{ task.name }}</td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ is.completed|yesno:"yes,no" }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
        <p>You have no tasks</p>
{% endif %}

        </div>
    </main>
</body>
</html>
