<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>

    <form method="post">
        <h1>Create new project</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
</main>
</body>
</html>
