{% extends 'base.html' %}
{% block content %}
<h1>{{ project.name }}</h1>
<p>{{ project.description }}</p>
<h2>Tasks</h2>
<p><a href="{% url 'create_task' %}">Create a new task</a></p>
{% if has_tasks %}

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Assignee</td>
            <td>Start date</td>
            <td>Due date</td>
            <td>Is completed</td>
        </tr>
    </thead>
    {% for task in project.tasks.all %} <!--changed from project.tasks.all and it still works, why?-->
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.assignee }}</td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.due_date }}</td>
        {% if task.is_completed %}
        <td>yes</td>
        {% else %}
        <td>no</td>
        {% endif %}
        {% endfor %}
    {% else %}
    <p>This project has no tasks</p>
    {% endif %}
    </tr>

</table>
{% endblock content %}
