{% extends 'base.html' %}
{% block content %}
<h1>My Projects</h1>
<div>
    <p><a href="{% url 'create_project' %}">Create a new project</a></p>
</div>
    {% if not lists %}
    <p>You are not assigned to any projects</p>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Number of tasks</th>
        </tr>
        {% for item in lists %}
        <tr>
            <td><a href="{% url 'show_project' item.id %}">{{ item.name }}</a></td>
            <td>{{ item.tasks.all|length }}</td>
        </tr>
        <tr>
            {{ project.name}}{{item.name}}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endblock content %}
